Creator: Tyler Stanton - Task 2

In [36]:
import pandas as pd

In [37]:
grades_dict = {'Wally': [87, 96, 70], 'Eva': [100, 87, 90], 'Sam': [94, 77, 90], 'Katie': [100, 81, 82], 'Bob':[83, 65, 85]}
grades = pd.DataFrame(grades_dict, index = ['Test1', 'Test2', 'Test3'])
grades['Eva']
grades.Sam

Test1    94
Test2    77
Test3    90
Name: Sam, dtype: int64

In [38]:
grades.loc['Test1']
grades.loc['Test1':'Test3']
grades.iloc[0:2]
grades.loc[['Test1', 'Test2']]
grades.iloc[[0, 2]]
grades.loc['Test1':'Test2', ['Eva', 'Katie']]
grades.iloc[[0, 2], 0:3]

       Wally  Eva  Sam
Test1     87  100   94
Test3     70   90   90

In [39]:
grades[grades >= 90]
grades[(grades >= 80) & (grades < 90)]
grades.at['Test2', 'Eva']
grades.iat[2, 0]
grades.at['Test2', 'Eva'] = 100
grades.at['Test2', 'Eva']
grades.iat[1, 2] = 87
grades.iat[1, 2]
grades.describe()

       Wally     Eva    Sam   Katie    Bob
count   3.00    3.00   3.00    3.00   3.00
mean   84.33   96.67  90.33   87.67  77.67
std    13.20    5.77   3.51   10.69  11.02
min    70.00   90.00  87.00   81.00  65.00
25%    78.50   95.00  88.50   81.50  74.00
50%    87.00  100.00  90.00   82.00  83.00
75%    91.50  100.00  92.00   91.00  84.00
max    96.00  100.00  94.00  100.00  85.00